<?xml version="1.0" encoding="UTF-8"?>
<root>
  <errors>true</errors>
  <loss>0.9</loss>
  <delay>0.9</delay>
  <ghost>0.9</ghost>
  <payload>0.9</payload>
  <header>0.9</header>
  <onlydata>true</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>10500</serverport>
  <simpleConnection>false</simpleConnection>
</root>

